<%= render partial: 'shared/page_title', locals: {:title_key => 'hub.will_it_work_for_me.title'} %>
<% content_for :feedback_source, 'WILL_IT_WORK_FOR_ME_PAGE' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large"><%= t 'hub.will_it_work_for_me.heading' %></h1>
    <%= form_for @form, url: will_it_work_for_me_path, html: { id: 'validate-will-it-work-for-me', class: 'will-it-work-for-me-form heading-banner-top-margin', novalidate: 'novalidate', 'data-msg': t('hub.will_it_work_for_me.question.errors.no_selection')} do |f| %>
        <% if flash[:errors] %>
            <div id="validation-error-message-no-js" class="validation-message form-group">
              <p class="error"><%= flash[:errors] %></p>
            </div>
        <% end %>
        <%= content_tag :div, class: form_question_class do %>
            <fieldset class="inline">
              <legend><%= t 'hub.will_it_work_for_me.question.above_age_threshold' %></legend>
              <%= f.label :above_age_threshold_true, {class: 'block-label', onclick: ''} do %>
                <%= f.radio_button :above_age_threshold, 'true' %>
                <span>
                  <span class="inner"></span>
                </span>
                <%= t 'hub.will_it_work_for_me.question.option_yes' %>
              <% end %>
              <%= f.label :above_age_threshold_false, {class: 'block-label', onclick: ''} do %>
                <%= f.radio_button :above_age_threshold, 'false' %>
                <span>
                  <span class="inner"></span>
                </span>
                <%= t 'option.no' %>
              <% end %>
            </fieldset>
        <% end %>
        <%= content_tag :div, class: form_question_class do %>
            <fieldset class="inline">
              <legend><%= t 'hub.will_it_work_for_me.question.resident_last_12_months' %></legend>
              <%= f.label :resident_last_12_months_true, {class: 'block-label', onclick: ''} do %>
                <%= f.radio_button :resident_last_12_months, 'true' %>
                <span>
                  <span class="inner"></span>
                </span>
                <%= t 'hub.will_it_work_for_me.question.option_yes' %>
              <% end %>
              <%= f.label :resident_last_12_months_false, {class: 'block-label', onclick: ''} do %>
                <%= f.radio_button :resident_last_12_months, 'false' %>
                <span>
                  <span class="inner"></span>
                </span>
                <%= t 'option.no' %>
              <% end %>
            </fieldset>
        <% end %>
        <%= content_tag :div, id: :not_resident_reason, class: hidden_form_question_class do %>
            <fieldset class="inline">
              <legend><%= t 'hub.will_it_work_for_me.question.not_resident_reason.title' %></legend>
              <%= f.label :not_resident_reason_movedrecently, {class: 'block-label', onclick: ''} do %>
                <%= f.radio_button :not_resident_reason, 'MovedRecently' %>
                <span>
                  <span class="inner"></span>
                </span>
                <%= t 'hub.will_it_work_for_me.question.not_resident_reason.recently' %>
              <% end %>
              <%= f.label :not_resident_reason_addressbutnotresident, {class: 'block-label', onclick: ''} do %>
                <%= f.radio_button :not_resident_reason, 'AddressButNotResident' %>
                <span>
                  <span class="inner"></span>
                </span>
                <%= t 'hub.will_it_work_for_me.question.not_resident_reason.not_resident' %>
              <% end %>
              <%= f.label :not_resident_reason_noaddress, {class: 'block-label', onclick: ''} do %>
                <%= f.radio_button :not_resident_reason, 'NoAddress' %>
                <span>
                  <span class="inner"></span>
                </span>
                <%= t 'hub.will_it_work_for_me.question.not_resident_reason.no_address' %>
              <% end %>
            </fieldset>
        <% end %>

        <div id="validation-error-message-js"></div>

        <div class="actions">
          <%= f.submit t('navigation.continue'), class: 'button', id: 'next-button' %>
        </div>
    <% end %>
  </div>
</div>
