<%= page_title 'hub.will_it_work_for_me.title' %>
<% content_for :feedback_source, 'WILL_IT_WORK_FOR_ME_PAGE' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large"><%= t 'hub.will_it_work_for_me.heading' %></h1>
    <%= form_for @form, url: will_it_work_for_me_path, html: { id: 'validate-will-it-work-for-me', class: 'will-it-work-for-me-form heading-banner-top-margin', novalidate: 'novalidate', 'data-msg': t('hub.will_it_work_for_me.question.errors.no_selection')} do |f| %>
        <% if flash[:errors] %>
            <div id="validation-error-message-no-js" class="validation-message form-group">
              <p class="error"><%= flash[:errors] %></p>
            </div>
        <% end %>
        <%= content_tag :div, class: form_question_class do %>
            <fieldset class="inline">
              <legend><%= t 'hub.will_it_work_for_me.question.above_age_threshold' %></legend>
              <%= render 'shared/block_label', form: f, key: :above_age_threshold, value: true, label: t('hub.will_it_work_for_me.question.option_yes') %>
              <%= render 'shared/block_label', form: f, key: :above_age_threshold, value: false, label: t('option.no') %>
            </fieldset>
        <% end %>
        <%= content_tag :div, class: form_question_class do %>
            <fieldset class="inline">
              <legend><%= t 'hub.will_it_work_for_me.question.resident_last_12_months' %></legend>
              <%= render 'shared/block_label', form: f, key: :resident_last_12_months, value: true, label: t('hub.will_it_work_for_me.question.option_yes') %>
              <%= render 'shared/block_label', form: f, key: :resident_last_12_months, value: false, label: t('option.no') %>
            </fieldset>
        <% end %>
        <%= content_tag :div, id: :not_resident_reason, class: hidden_form_question_class do %>
            <fieldset class="inline">
              <legend><%= t 'hub.will_it_work_for_me.question.not_resident_reason.title' %></legend>
              <%= render 'shared/block_label', form: f, key: :not_resident_reason, value: 'MovedRecently', label: t('hub.will_it_work_for_me.question.not_resident_reason.recently') %>
              <%= render 'shared/block_label', form: f, key: :not_resident_reason, value: 'AddressButNotResident', label: t('hub.will_it_work_for_me.question.not_resident_reason.not_resident') %>
              <%= render 'shared/block_label', form: f, key: :not_resident_reason, value: 'NoAddress', label: t('hub.will_it_work_for_me.question.not_resident_reason.no_address') %>
            </fieldset>
        <% end %>

        <div id="validation-error-message-js"></div>

        <div class="actions">
          <%= f.submit t('navigation.continue'), class: 'button', id: 'next-button' %>
        </div>
    <% end %>
  </div>
</div>
