<%= page_title 'hub.may_not_work_if_you_live_overseas.heading' %>
<% content_for :feedback_source, 'MAY_NOT_WORK_IF_YOU_LIVE_OVERSEAS_PAGE' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t 'hub.may_not_work_if_you_live_overseas.heading' %></h1>

    <p><%= t 'hub.may_not_work_if_you_live_overseas.explanation1' %></p>
    <p><%= t 'hub.may_not_work_if_you_live_overseas.explanation2' %></p>

    <h2 class="govuk-heading-m"><%= t 'hub.may_not_work_if_you_live_overseas.what_youll_need' %></h2>

    <p><%= t 'hub.may_not_work_if_you_live_overseas.if_you_have_these' %>:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li><%= t 'hub.may_not_work_if_you_live_overseas.current_account_overdraft' %></li>
      <li><%= t 'hub.may_not_work_if_you_live_overseas.credit_card' %></li>
      <li><%= t 'hub.may_not_work_if_you_live_overseas.phone_contract' %></li>
      <li><%= t 'hub.may_not_work_if_you_live_overseas.gas_electricity_bills' %></li>
      <li><%= t 'hub.may_not_work_if_you_live_overseas.mortgage' %></li>
      <li><%= t 'hub.may_not_work_if_you_live_overseas.student_loan' %></li>
      <li><%= t 'hub.may_not_work_if_you_live_overseas.payday_loan' %></li>
      <li><%= t 'hub.may_not_work_if_you_live_overseas.mail_order_account' %></li>
    </ul>

    <p><%= t 'hub.may_not_work_if_you_live_overseas.youll_also_need' %></p>

    <p><%= link_to t('hub.may_not_work_if_you_live_overseas.try_to_verify'), about_documents_path %></p>

    <%= render partial: 'shared/other_ways', locals: { other_ways_text: @other_ways_text, other_ways_description: @other_ways_description } %>
  </div>
</div>
