<%= page_title 'hub.why_companies.title' %>
<% content_for :feedback_source, 'WHY_COMPANIES_PAGE' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= link_to t('navigation.back'), choose_a_certified_company_path, class: 'govuk-back-link' %>
    <h1 class="govuk-heading-l"><%= t('hub.why_companies.title') %></h1>
    <%= t('hub.why_companies.content_loa1_html') %>
    <p><%= link_to(t('hub.why_companies.choose_a_company'), choose_a_certified_company_path) %></p>
  </div>
</div>
