<% content_for :page_title, 'Loading' %>

<div class="content">
  <div class="grid-row">
    <div class="column-two-thirds"><h1 class="heading-xlarge"><%= t('hub.redirect_to_idp.heading')%></h1>
      <div class="application-notice info-notice">
        <p><%= t('hub.redirect_to_idp.description')%></p>
      </div>
      <%= form_tag(@saml_message.location, class: 'js-auto-submit') do %>
          <%= hidden_field_tag 'SAMLRequest', @saml_message.saml_request %>
          <%= hidden_field_tag 'RelayState', @saml_message.relay_state %>
          <%= hidden_field_tag 'registration', @saml_message.registration %>
          <% @hints.each do |hint| %>
              <%= hidden_field_tag 'hint', hint, id:nil %>
          <% end %>
          <%= submit_tag 'Continue', id: 'continue-button', class: 'button' %>
      <% end %>
    </div>
  </div>
</div>
