<%= page_title 'hub.confirmation.heading', display_name: @idp_name %>
<% content_for :feedback_source, :CONFIRMATION_PAGE %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l"><%= t 'hub.confirmation.heading', display_name: @idp_name %></h1>
    <p><%= t 'hub.confirmation.message', display_name: @idp_name %></p>
    <p><%= t 'hub.confirmation.continue_to_rp', transaction_name: @transaction_name %></p>
    <div class="actions">
      <%= button_link_to t('navigation.continue'), @redirect_path, id: 'next-button', class: 'govuk-button' %>
    </div>

    <% if @show_services_need_more_evidence %>
      <p class="small-details"><%= t 'hub.confirmation.add_security_loa1' %></p>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text"><%= t 'hub.confirmation.extra_security' %></span>
        </summary>

        <div class="govuk-details__text">
          <ul class="govuk-list govuk-list--bullet">
            <% loa2_transactions_list.each do |transaction| -%>
              <li><%= transaction.name %></li>
            <% end %>
          </ul>
        </div>
      </details>
    <% end %>
  </div>
</div>
