<%= page_title 'hub.redirect_to_idp_warning.title' %>
<% content_for :feedback_source, 'REDIRECT_TO_IDP_WARNING_PAGE' %>

<div class="grid-row js-continue-to-idp no-right-hand-logo" data-location="<%= url_for(controller: 'redirect_to_idp_warning', action: 'continue_ajax', locale: I18n.locale)  %>">
  <div class="column-two-thirds">
    <h1 class="heading-large"><%= t 'hub.redirect_to_idp_warning.ab_test_heading', display_name: @idp.display_name %></h1>

    <p><%= t 'hub.redirect_to_idp_warning.ab_test_intro', display_name: @idp.display_name %></p>

    <% if @any_docs %>
      <p><%= t 'hub.redirect_to_idp_warning.ab_test_requirements' %></p>
      <ul class="list-bullet list">
        <% if @driving_licence %> <li><%= t 'hub.choose_a_certified_company.ab_test_driving_licence' %></li> <% end %>
        <% if @non_uk_id_document %> <li><%= t 'hub.choose_a_certified_company.ab_test_non_uk_id_document' %></li> <% end %>
        <% if @smart_phone %> <li><%= t 'hub.choose_a_certified_company.ab_test_smart_phone' %></li> <% end %>
        <% if @passport %> <li><%= t 'hub.choose_a_certified_company.ab_test_passport' %></li> <% end %>
      </ul>
    <% end %>

    <p><%= t 'hub.redirect_to_idp_warning.ab_test_future_use' %></p>

    <%= form_tag('', class: 'js-idp-form') do %>
        <%= button_tag t('hub.redirect_to_idp_warning.continue_website', display_name: @idp.display_name),
                       class: 'button',
                       id: 'continue-to-idp-button',
                       type: 'submit'
        %>
    <% end %>
    <%= render 'shared/logos_container' %>
  </div>
  <%= render partial: 'shared/continue_to_idp_form' %>
</div>

