<% start_page = 'clever_questions.hub.start'%>
<%= page_title "#{start_page}.title" %>
<% content_for :body_classes, 'hub-start' %>
<% content_for :feedback_source, 'START_PAGE' %>

<h1 class="heading-large"><%= t "#{start_page}.heading" %></h1>

<p><%= t "#{start_page}.secure_service" %></p>
<p><%= t "#{start_page}.prevent_viewing" %></p>

<div class="actions">
  <%= button_link_to t("#{start_page}.create_account"), begin_registration_path %>
  <p> or <%= link_to t("#{start_page}.sign_in"), begin_sign_in_path %></p>
</div>

