<%= page_title 'hub.choose_country.title' %>
<% content_for :feedback_source, 'CHOOSE_A_CERTIFIED_COMPANY_PAGE' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large"><%= t('hub.choose_country.heading') %></h1>
    <p><%= t 'hub.choose_country.description' %></p>
  </div>

  <div class="column-full js-redirect-to-country" data-location="<%= url_for(controller: 'redirect_to_country', action: 'choose_a_country_submit_ajax') %>">
    <div class="country-picker">
      <% @countries.each do |country| %>
        <div class="country-option">
          <% country.schemes.each do |scheme| %>
            <div class="scheme-option">
              <div class="scheme-info">
                <div class="country-flag">
                  <img src="<%= country.flag_path %>" alt="<%= country.display_name %> flag">
                </div>
                <div class="country-name">
                  <p class="bold"><%= country.display_name %></p>
                </div>
                <div class="scheme-logo">
                  <div class="scheme-logo-img-container">
                    <img src="<%= scheme.logo_path %>" alt="<%= scheme.display_name %> logo">
                  </div>
                </div>
              </div>
              <div class="scheme-button">
                <%= form_tag choose_a_country_submit_path, :class => 'js-country-form' do %>
                  <%= hidden_field_tag :country, country.simple_id, class: 'js-country-simple-id' %>
                  <button class="button"><%= t 'hub.choose_country.select_label' %><%= scheme.display_name %></button>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="column-two-thirds">
    <h3 class="heading-small"><%= t 'hub.choose_country.country_not_listed_heading' %></h3>
    <p><%= t 'hub.choose_country.country_not_listed_description' %><%= link_to t('hub.choose_country.country_not_listed_link', other_ways_description: @other_ways_description), other_ways_to_access_service_path %></p>
  </div>

  <%= form_tag({}, {id: 'post-to-country', class: 'hidden', authenticity_token: false, enforce_utf8: false}) do %>
    <input name=SAMLRequest type=hidden>
    <input name=RelayState type=hidden>
    <input name=registration type=hidden>
    <input type=submit>
  <% end %>
</div>
