<dialog id="js-modal-dialog" data-seconds-to-timeout="<%= @seconds_to_timeout %>" data-seconds-modal-visible="300"
data-url-redirect="<%= url_for(controller: 'further_information', action: 'timeout') %>" data-text="<%= t('hub.further_information.modal.text') %>" data-extra-text="<%= t('hub.further_information.modal.extra_text', idp_name: @idp_name) %>" class="modal-dialog dialog" role="dialog" aria-live="polite" aria-labelledby="dialog-title" aria-describedby="at-timer">
  <div class="modal-dialog__inner">
	  <h1 id="dialog-title" class="dialog-title govuk-heading-l">
      <%= t('hub.further_information.modal.heading') %>
    </h1>
    <div class="modal-dialog__inner__text">
      <div class="timer" aria-hidden="true" aria-relevant="additions"></div>
      <div id="at-timer" class="at-timer visually-hidden" role="status"></div>
    </div>
    <div class="modal-dialog__inner__block">
      <button class="govuk-button dialog-button modal-dialog__inner__button js-dialog-close"><%= t('hub.further_information.modal.button_continue') %></button>
      <%= link_to t('hub.further_information.modal.button_signout'), further_information_timeout_path, :class => 'modal-dialog__inner__link js-dialog-cancel' %>
    </div>
  </div>
</dialog>
