<%= page_title 'hub.further_information.title', cycle_three_name: @attribute.name %>
<% content_for :feedback_source, 'CYCLE_3_PAGE' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge"><%= @transaction_name.capitalize %></h1>
    <p><%= t('hub.further_information.first_time') %></p>

    <%= form_for @form, url: further_information_submit_path,
                 html: { novalidate: true,
                         id: 'further-information' } do |f| %>
      <fieldset>
        <div class="form-group <%= 'error' if @form.errors[:cycle_three_data].any? %>">
          <%= f.label :cycle_three_data, class: 'form-label-bold' do %>
            <%= @attribute.name.capitalize %>
            <span class="form-hint"><%= t('hub.further_information.example_text', example: @attribute.example) %></span>
            <% if @form.errors.include?(:cycle_three_data) %>
              <span class="error-message">
                <%= t(@form.errors[:cycle_three_data].first, cycle_three_name: @attribute.name) %>
              </span>
            <% end %>
          <% end %>
          <%= f.text_field :cycle_three_data, required: true, pattern: h(@form.pattern.source),
                           class: 'form-control form-control-3-4',
                           'data-msg': t('hub.further_information.attribute_validation_message',
                                         cycle_three_name: @attribute.name),
                           autocomplete: 'off' %>
        </div>
        <div class="form-group">
        <details>
          <summary>
            <span class="summary"><%= t 'hub.further_information.help_with_your', cycle_three_name: @attribute.name %></span>
          </summary>
          <div class="panel list list-bullet">
            <%= @attribute.help_to_find.html_safe %>
          </div>
        </details>
        </div>
        <% if @form.allows_nullable? %>
          <div class="form-group">
            <%= f.custom_check_box :null_attribute, {}, true, false, t('hub.further_information.null_attribute', cycle_three_name: @attribute.name) %>
          </div>
        <% end %>
        <div class="form-group">
          <%= f.submit t('navigation.continue'), id: 'continue-button', class: 'button' %>
        </div>
      </fieldset>
    <% end %>
    <div class="cancel-process">
      <%= form_tag(further_information_cancel_path) do %>
        <%= button_tag t('hub.further_information.cancel', transaction_name: @transaction_name.capitalize), id: 'cancel', class: 'button-link' %>
      <% end %>
    </div>
  </div>
</div>

