<%= page_title 'hub.further_information.title', attribute_name: @attribute.name %>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge"><%= @transaction_name.capitalize %></h1>
    <p><%= t('hub.further_information.first_time') %></p>

    <%= form_for @form, url: further_information_submit_path do |f| %>
      <fieldset>
        <div class="form-group">
          <%= f.label :cycle_three_data, class: 'form-label' do %>
              <%= t('hub.further_information.cycle_three_input_label', cycle_three_name: @attribute.name) %>
          <% end %>
          <%= f.text_field :cycle_three_data, required: true, class: 'form-control form-control-3-4' %>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>

