<%= page_title 'hub.further_information.timeout.title' %>
<% content_for :feedback_source, 'TIMEOUT_PAGE' %>

<div class="govuk-grid-column-three-quarters">
  <h1 class="govuk-heading-l"><%= t 'hub.further_information.timeout.heading' %></h1>

  <p><%= t 'hub.further_information.timeout.intro' %></p>

  <p><%= t 'hub.further_information.timeout.continue', service_name: @transaction_name, idp_name: @idp_name %></p>

  <%= button_link_to t('hub.further_information.timeout.start_again', idp_name: @idp_name), initiate_journey_path(session[:transaction_simple_id], journey_hint: @journey_hint), class: 'govuk-button' %>

  <p><%= t 'hub.further_information.timeout.other_ways_text' %> <%= link_to t('hub.further_information.timeout.other_ways_link', service_name: @transaction_name), other_ways_to_access_service_path %></p>
</div>
