<%= page_title 'hub.signin.title' %>
<% content_for :feedback_source, 'SIGN_IN_PAGE' %>

<%= link_to t('navigation.back'), start_path, class: 'link-back' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large"><%= t 'hub.signin.heading' %></h1>
    <p class="lede"><%= t 'hub.signin.registration_message_html', href: link_to(t('hub.signin.about_link'), begin_registration_path, id: 'begin-registration-route') %></p>
  </div>
</div>

<% unless @suggested_idp.nil? %>
  <div class="grid-row">
    <div class="column-two-thirds">
      <p><%= t 'hub.signin.last_certified', company_name: @suggested_idp.display_name %></p>
    </div>
  </div>

  <% if @suggested_idp.authentication_enabled %>
    <div class="grid-row js-continue-to-idp" data-location="<%= url_for(controller: 'sign_in', action: 'select_idp_ajax', locale: I18n.locale) %>">
      <%= render partial: 'shared/idp_list', locals: {identity_providers: [@suggested_idp]} %>
    </div>
  <% else %>
    <%= render partial: 'shared/disconnected_suggested_idp_list', locals: {identity_provider: @suggested_idp} %>
  <% end %>

  <div class="grid-row">
    <div class="column-two-thirds">
      <p><%= t 'hub.signin.any_certified_company' %></p>
    </div>
  </div>
<% end %>

<div class="grid-row js-continue-to-idp" data-location="<%= url_for(controller: 'sign_in', action: 'select_idp_ajax', locale: I18n.locale) %>">
  <%= render partial: 'shared/idp_list', locals: {identity_providers: @identity_providers} %>
  <%= render partial: 'shared/unavailable_idp_list', locals: {unavailable_identity_providers: @unavailable_identity_providers, offset: @identity_providers.count} %>
  <%= render partial: 'shared/continue_to_idp_form' %>
</div>

<div class="grid-row">
  <div class="column-two-thirds">
    <p><%= link_to t('hub.signin.forgot_company'), forgot_company_path %></p>
  </div>
</div>

<% if !@disconnected_idps.empty? %>
  <div class="grid-row">
    <%= render partial: 'shared/disconnected_idp_list', locals: {disconnected_identity_providers: @disconnected_idps} %>
  </div>
<% end %>
