<%= page_title 'hub.signin.heading' %>
<% content_for :feedback_source, 'SIGN_IN_PAGE' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds page-with-back-button">
    <%= link_to t('navigation.back'), start_path, class: 'govuk-back-link' %>

    <h1 class="govuk-heading-l"><%= t 'hub.signin.heading' %></h1>
    <p class="lede"><%= t 'hub.signin.registration_message_html', href: link_to(t('hub.signin.about_link'), begin_registration_path, id: 'begin-registration-route') %></p>
  </div>
</div>

<% unless @suggested_idp.nil? %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p><%= t 'hub.signin.last_certified', company_name: @suggested_idp.display_name %></p>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <% if @suggested_idp.authentication_enabled %>
        <div class="js-continue-to-idp" data-location="<%= url_for(controller: 'sign_in', action: 'select_idp_ajax', locale: I18n.locale) %>">
          <%= render partial: 'shared/idp_grid', locals: { identity_providers: [@suggested_idp], url: sign_in_submit_path } %>
        </div>
      <% else %>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third disconnected-company-logo">
            <%= image_tag(@suggested_idp.logo_path, alt: idp_tagline(@suggested_idp)) %>
          </div>
          <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m"><%= t('hub.signin.company_no_longer_verifies_title', company: @suggested_idp.display_name) %></h2>
            <p><%= raw @idp_disconnected_hint_html %></p>
          </div>
        </div>
      <% end %>

      <p><%= t 'hub.signin.any_certified_company' %></p>
    </div>
  </div>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="js-continue-to-idp" data-location="<%= url_for(controller: 'sign_in', action: 'select_idp_ajax', locale: I18n.locale) %>">
      <%= render partial: 'shared/idp_grid', locals: { identity_providers: @identity_providers, url: sign_in_submit_path } %>
      <%= render partial: 'shared/continue_to_idp_form' %>
    </div>
    <% if @unavailable_identity_providers.any? %>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m"><%= t('hub.certified_companies_unavailable.heading', count: @unavailable_identity_providers.length,
                                            company: @unavailable_identity_providers.first.display_name) %></h2>
          <p><%= t('hub.certified_companies_unavailable.verify_another_company_html', link:
            link_to(t('hub.certified_companies_unavailable.verify_another_company_link'), begin_registration_path)) %></p>
        </div>
      </div>
      <%= render partial: 'shared/idp_grid', locals: { identity_providers: @unavailable_identity_providers, disabled: true } %>
    <% end %>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <p><%= link_to t('hub.signin.forgot_company'), forgot_company_path %></p>

    <% if @disconnected_idps.any? %>
      <h2 class="govuk-heading-m"><%= t 'hub.certified_companies_disconnected.heading' %></h2>
      <p><%= t('hub.certified_companies_disconnected.verify_another_company_html', link:
        link_to(t('hub.certified_companies_disconnected.verify_another_company_link'), begin_registration_path, id: 'begin-registration-route-2')) %>
      </p>

      <%= render partial: 'shared/idp_grid', locals: { identity_providers: @disconnected_idps, hide_button: true } %>
    <% end %>
  </div>
</div>
