<%= page_title 'hub.signin.heading' %>
<% content_for :feedback_source, 'SIGN_IN_PAGE' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds page-with-back-button">
    <%= link_to t('navigation.back'), start_path, class: 'govuk-back-link' %>

    <h1 class="govuk-heading-l"><%= t 'hub.signin.heading' %></h1>
    <p>
      <% if SIGN_UPS_ENABLED %>
        <%= t 'hub.signin.registration_message_html', href: link_to(t('hub.signin.about_link'), begin_registration_path, id: 'begin-registration-route') %>
      <% end %>
    </p>

    <% unless @suggested_idp.nil? %>
      <%= render partial: 'sign_in/disconnected_suggested_idp', locals: { identity_provider: @suggested_idp } %>
    <% end %>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="js-continue-to-idp" data-location="<%= url_for(controller: 'sign_in', action: 'select_idp_ajax', locale: I18n.locale) %>">
      <%= render partial: 'shared/idp_list', locals: { identity_providers: @available_identity_providers } %>
      <%= render partial: 'shared/continue_to_idp_form' %>
    </div>
    <% if @unavailable_identity_providers.any? %>
      <%= render partial: 'sign_in/unavailable_idp_list', locals: { unavailable_identity_providers: @unavailable_identity_providers } %>
    <% end %>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <p><%= link_to t('hub.signin.forgot_company'), forgot_company_path %></p>
    <% if @disconnected_idps.any? %>
      <%= render partial: 'sign_in/disconnected_idp_list', locals: { disconnected_identity_providers: @disconnected_idps } %>
    <% end %>
  </div>
</div>