<%= page_title 'hub.signin.title' %>
<% content_for :feedback_source, 'SIGN_IN_PAGE' %>

<%= link_to t('navigation.back'), start_path, class: 'link-back' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large"><%= t 'hub.signin.heading' %></h1>
    <p><%= t 'hub.signin.registration_message_html', href: link_to(t('hub.signin.about_link'), about_path) %></p>
  </div>
</div>

<div class="grid-row js-continue-to-idp" data-location="<%= url_for(controller: 'sign_in', action: 'select_idp_ajax', locale: I18n.locale)  %>">
  <%= render partial: 'shared/idp_list', locals: {identity_providers: @identity_providers} %>
  <%= render partial: 'shared/unavailable_idp_list', locals: {unavailable_identity_providers: @unavailable_identity_providers, offset: @identity_providers.count} %>
  <%= render partial: 'shared/continue_to_idp_form' %>
</div>

<div class="grid-row">
  <div class="column-two-thirds">
    <p><%= link_to t('hub.signin.forgot_company'), forgot_company_path %></p>
  </div>
</div>
