<%= page_title 'hub.idp_wont_work_for_you_one_doc.title' %>
<% content_for :feedback_source, 'IDP_WILL_NOT_WORK_FOR_YOU' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large"><%= t 'hub.idp_wont_work_for_you_one_doc.heading', idp_name: @idp.display_name %></h1>
        <%= @idp.interstitial_explanation.html_safe %>

    <div>
      <p>
        <%= t 'hub.idp_wont_work_for_you_one_doc.choose_another_company' %>
      </p>
      <%= button_link_to t('hub.idp_wont_work_for_you_one_doc.choose_another_certified_company_link'), choose_a_certified_company_path, id: 'choose-another-certified-company-link' %>
    </div>

  </div>
</div>
