<%= page_title 'hub.redirect_to_idp_warning.title' %>
<% content_for :feedback_source, 'REDIRECT_TO_IDP_WARNING_PAGE' %>

<div class="grid-row js-continue-to-idp" data-location="<%= url_for(controller: 'redirect_to_idp_warning', action: 'continue_ajax', locale: I18n.locale)  %>">
  <div class="column-two-thirds">
    <h1 class="heading-large"><%= t 'hub.redirect_to_idp_question.heading', display_name: @idp.display_name %></h1>
    <%= @idp.interstitial_question.html_safe %>

    <%= form_for @form, url: redirect_to_idp_question_submit_path, html: {id: 'interstitial-question-form', class: 'js-validate', novalidate: 'novalidate'} do |f| %>

        <%= render 'shared/form-errors', errors: flash[:errors] %>

        <%= content_tag :div, class: form_question_class do %>
            <fieldset>
              <%= f.custom_radio_button :interstitial_question_result, true, t('hub.redirect_to_idp_question.answer_yes'), {required: true, data: { msg: t('hub.redirect_to_idp_question.validation_message')}} %>
              <%= f.custom_radio_button :interstitial_question_result, false, t('hub.redirect_to_idp_question.answer_no'), {required: true, data: { msg: t('hub.redirect_to_idp_question.validation_message')}} %>
            </fieldset>
        <% end %>

        <div id="validation-error-message-js"></div>

        <div id="interstitial_question_details" class="hidden panel">
          <%= t 'hub.redirect_to_idp_question.warning_html', display_name: @idp.display_name, choose_another_company_link: link_to(t('hub.redirect_to_idp_question.choose_another_certified_company_link'), choose_a_certified_company_path)%>
        </div>

        <div class="panel panel-border-wide">
          <%= t 'hub.redirect_to_idp_question.identity_documents' %>
        </div>

        <div class="form-group-tight">
            <%= button_tag t('navigation.continue'),
                           class: 'button',
                           id: 'continue-to-idp-button',
                           type: 'submit'
            %>
        </div>
    <% end %>
    <div>
      <%= t 'hub.redirect_to_idp_question.or_html', choose_another_company_link: link_to(t('hub.redirect_to_idp_question.choose_another_certified_company_link'), choose_a_certified_company_path)%>
    </div>
  </div>
  <%= render partial: 'shared/continue_to_idp_form' %>
</div>
