<%= page_title 'hub.select_documents.title_photo_documents' %>
<% content_for :feedback_source, 'SELECT_DOCUMENTS_PAGE' %>

<div id="no-documents-message" class="govuk-visually-hidden" aria-live="assertive" data-no-documents-message="<%= h t('hub.select_documents.no_documents_message') %>"></div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t 'hub.select_documents.title_photo_documents' %></h1>
    <div class="govuk-inset-text">
      <%= t 'hub.select_documents.highlight' %>
    </div>
    
    <% if flash[:errors] %>
      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li><a href="#validate-select-documents"><%= flash[:errors] %></a></li>
          </ul>
        </div>
      </div>
    <% end %>
    
    <%= form_for @form, url: select_documents_submit_path, html: {id: 'validate-select-documents', class: 'select-documents-form', novalidate: 'novalidate', 'data-msg': t('hub.select_documents.errors.no_selection')} do |f| %>
      <div class="govuk-form-group <% if @form.errors.include?(:base) %>govuk-form-group--error<% end %>">
        <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h2 class="govuk-heading-m">
              <%= t 'hub.select_documents.valid_UK_driving_licence' %>
            </h2>
          </legend>
          <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <%= f.radio_button :any_driving_licence, true, {class: "govuk-radios__input", 'data-aria-controls': "conditional-any_driving_licence_true"}%>
              <%= f.label :any_driving_licence_true, t('hub.select_documents.documents_option_yes'), class: "govuk-label govuk-radios__label"%>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
              id="conditional-any_driving_licence_true">
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                      <h2 class="govuk-heading-s"><%= t 'hub.select_documents.where_driving_licence_issued' %></h2>
                    </legend>
                    <div class="govuk-radios">
                      <div class="govuk-radios__item">
                        <%= f.radio_button :driving_licence, 'great_britain', {class: "govuk-radios__input"}%>
                        <%= f.label :driving_licence_great_britain, t('hub.select_documents.driving_licence_details.great_britain'), class: "govuk-label govuk-radios__label"%>
                      </div>
                      <div class="govuk-radios__item">
                        <%= f.radio_button :driving_licence, 'northern_ireland', {class: "govuk-radios__input"}%>
                        <%= f.label :driving_licence_northern_ireland, t('hub.select_documents.driving_licence_details.northern_ireland'), class: "govuk-label govuk-radios__label"%>
                      </div>
                    </div>
                  </fieldset>
              </div>
            </div>
            <div class="govuk-radios__item">
              <%= f.radio_button :any_driving_licence, false, {class: "govuk-radios__input"}%>
              <%= f.label :any_driving_licence_false, t('option.no'), class: "govuk-label govuk-radios__label"%>
            </div>
          </div>
        </fieldset>
      </div>
      
      <div class="govuk-form-group <% if @form.errors.include?(:base) %>govuk-form-group--error<% end %>">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h2 class="govuk-heading-m"><%= t 'hub.select_documents.uk_passport' %></h2>
          </legend>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <%= f.radio_button :passport, true, {class: "govuk-radios__input"}%>
              <%= f.label :passport_true, t('hub.select_documents.documents_option_yes'), class: "govuk-label govuk-radios__label"%>
            </div>
            <div class="govuk-radios__item">
              <%= f.radio_button :passport, false, {class: "govuk-radios__input"}%>
              <%= f.label :passport_false, t('option.no'), class: "govuk-label govuk-radios__label"%>
            </div>
          </div>
        </fieldset>
      </div>

      <div id="validation-error-message-js"></div>

      <div class="actions">
        <p class="govuk-body"><%= f.submit t('navigation.continue'), class: 'govuk-button', id: 'next-button' %>&nbsp;
        <%= link_to t('hub.select_documents.neither_documents'), select_documents_no_documents_path %></p>
      </div>
    <% end %>

  </div>
</div>
