<% content_for :page_title, t('hub.select_documents.title') %>
<% content_for :feedback_source, 'SELECT_DOCUMENTS_PAGE' %>
<% content_for :body_classes, 'select-documents' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1><%= t 'hub.select_documents.heading' %></h1>
    <% if flash[:errors] %>
      <div id="validation-error-message-no-js" class="validation-message form-group">
        <p class="error"><%= flash[:errors] %></p>
      </div>
    <% end %>
    <%= form_for @form, url: '', html: { id: 'validate-documents', novalidate: 'novalidate', 'data-msg': t('hub.select_documents.errors.no_selection')} do |f| %>
        <%= content_tag :div, class: flash[:errors] ? "form-group error" : "form-group" do %>
          <fieldset>
            <legend><%= t 'hub.select_documents.legend'%></legend>
            <div class="form-group">
              <fieldset class="inline">
                <span>1. <%= t 'hub.select_documents.question.driving_licence'%></span>
                <label class="block-label">
                  <%= f.radio_button :driving_licence, 'true' %>
                  <span>
                    <span class="inner"></span>
                  </span>
                  <%= t 'option.yes' %>
                </label>
                <label class="block-label">
                  <%= f.radio_button :driving_licence, 'false' %>
                  <span>
                    <span class="inner"></span>
                  </span>
                  <%= t 'option.no'%>
                </label>
              </fieldset>
            </div>
            <div class="form-group">
              <fieldset class="inline">
                <span>2. <%= t 'hub.select_documents.question.passport'%></span>
                <label class="block-label">
                  <%= f.radio_button :passport, 'true' %>
                  <span>
                    <span class="inner"></span>
                  </span>
                  <%= t 'option.yes'%>
                </label>
                <label class="block-label" >
                  <%= f.radio_button :passport, 'false' %>
                  <span>
                    <span class="inner"></span>
                  </span>
                  <%= t 'option.no'%>
                </label>
              </fieldset>
            </div>
            <div class="form-group">
              <fieldset class="inline">
                <span>3. <%= t 'hub.select_documents.question.non_uk_id_document'%></span>
                <label class="block-label" >
                  <%= f.radio_button :non_uk_id_document, 'true' %>
                  <span>
                    <span class="inner"></span>
                  </span>
                  <%= t 'option.yes'%>
                </label>
                <label class="block-label" >
                  <%= f.radio_button :non_uk_id_document, 'false' %>
                  <span>
                    <span class="inner"></span>
                  </span>
                  <%= t 'option.no'%>
                </label>
              </fieldset>
            </div>
            <label class="block-label">
              <%= f.check_box :no_docs, {class: 'js-no-docs'}, 'true', 'false' %>
              <span>
                <span class="inner"></span>
              </span>
              <%= t 'hub.select_documents.question.no_docs'%>
            </label>
          </fieldset>
        <% end %>

        <div id="validation-error-message-js"></div>

        <div class="actions">
          <%= f.submit t('navigation.continue'), class: 'button', id: 'next-button' %>
        </div>
  <% end %>

  </div>
</div>