<div class="idp-choice">
  <div class="company-logo">
    <%= image_tag identity_provider.logo_path, alt: '' %>
    <p class="company-about">
      <%= link_to(t('hub.choose_a_certified_company.about_idp', display_name: identity_provider.display_name), choose_a_certified_company_about_path(identity_provider.simple_id)) %>
    </p>
  </div>
  <%= form_for(identity_provider, url: choose_a_certified_company_submit_path, html: {class: 'idp-option', id: nil}) do |f| %>
      <%= f.button t('hub.choose_a_certified_company.choose_idp', display_name: identity_provider.display_name),
                     class: recommended ? 'button' : 'button-link',
                     role: recommended ? nil : 'link',
                     name: identity_provider.simple_id,
                     id: nil,
                     type: 'submit',
                     value: identity_provider.display_name
      %>
      <%= hidden_field_tag 'entity_id', identity_provider.entity_id, id: nil %>
  <% end %>
</div>
