<div class="idp-choice">
  <div class="company-logo">
    <%= image_tag identity_provider.logo_path, alt: identity_provider.display_name %>
    <p class="company-about">
      <%= link_to(t('hub.choose_a_certified_company.about_idp', name: identity_provider.display_name), choose_a_certified_company_about_path(identity_provider.simple_id)) %>
    </p>
  </div>
  <% button_class = recommended ? 'button' : 'button-link' %>
  <%= form_for(identity_provider, url: '', html: {class: 'idp-option'}) do |f| %>
      <%= f.button t('hub.choose_a_certified_company.choose_idp', name: identity_provider.display_name),
                     class: button_class,
                     name: identity_provider.simple_id,
                     type: 'submit',
                     value: identity_provider.display_name
      %>
      <%= hidden_field_tag 'selected-idp', identity_provider.entity_id %>
      <%= hidden_field_tag 'recommended-idp', recommended %>
      <%= f.hidden_field :entity_id %>
      <%= f.hidden_field :simple_id %>
  <% end %>
</div>