<% content_for :page_title, t('hub.choose_a_certified_company.about.title', name: @idp.display_name) %>
<% content_for :feedback_source, "CHOOSE_A_CERTIFIED_COMPANY_ABOUT_#{@idp.simple_id.upcase}_PAGE" %>

<%= link_to t('navigation.back'), choose_a_certified_company_path, class: 'link-back' %>
<div class="content-inner">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large"><%= @idp.display_name %></h1>
      <p class="subtitle"><%= t 'hub.choose_a_certified_company.about.information_provided_by', name: @idp.display_name %></p>
      <p><%= @idp.about_content.html_safe %></p>
      <%= render partial: 'select_idp_form', locals: {recommended: @recommended, identity_provider: @idp} %>
    </div>
  </div>
</div>
