<% page_title 'hub.choose_a_certified_company.about.heading', { :display_name => @idp.display_name } %>
<% content_for :feedback_source, "CHOOSE_A_CERTIFIED_COMPANY_ABOUT_#{@idp.simple_id.upcase}_PAGE" %>
<%= link_to t('navigation.back'), choose_a_certified_company_path, class: 'govuk-back-link' %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= @idp.display_name %></h1>
    <div class="about-idp-content">
      <p class="subtitle"><%= t 'hub.choose_a_certified_company.about.information_provided_by', display_name: @idp.display_name %></p>
      <%= raw @idp.about_content %>
    </div>
    <%= render partial: 'choose_a_certified_company/select_idp_form', locals: {recommended: @recommended, identity_provider: @idp} %>
  </div>
</div>