<%= page_title 'hub.choose_a_certified_company.title' %>
<% content_for :feedback_source, 'CHOOSE_A_CERTIFIED_COMPANY_PAGE' %>
<% content_for :additional_javascript do %>
    <%= javascript_include_tag 'piwik_idp_picker_tracking' %>
<% end %>

<div class="content-inner">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large"><%= t 'hub.choose_a_certified_company.heading' %></h1>
      <p><%= t 'hub.choose_a_certified_company.existing_customer' %></p>
      <p><%= t 'hub.choose_a_certified_company.personal_information' %></p>

      <ul class="list list-bullet">
        <li><%= link_to(t('hub.choose_a_certified_company.why_companies'), why_companies_path) %></li>
      </ul>

      <div id="matching-idps">
        <% @recommended_idps.each do |identity_provider| %>
            <%= render partial: 'choose_a_certified_company/idp_option', locals: {recommended: true, identity_provider: identity_provider} %>
        <% end %>
      </div>

    </div>
  </div>
</div>