<% content_for :page_title, t('hub.choose_a_certified_company.title') %>
<% content_for :feedback_source, 'CHOOSE_A_CERTIFIED_COMPANY_PAGE' %>

<div class="content-inner">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h2 class="heading-medium"><%= t 'hub.choose_a_certified_company.heading' %></h2>
      <ul class="list list-bullet">
        <li><%= link_to(t('hub.choose_a_certified_company.why_companies'), why_companies_path) %></li>
      </ul>
      <p class="large-top">
        <%= t 'hub.choose_a_certified_company.idp_count_html',
              company_count: t('hub.choose_a_certified_company.company_html', count: @recommended_idps.length) %>
      </p>
    </div>
  </div>
  <div id="matching-idps">
    <% @recommended_idps.each do |identity_provider| %>
      <%= render partial: 'idp_option', locals: {recommended: true, identity_provider: identity_provider} %>
    <% end %>
  </div>
  <% if @non_recommended_idps.any? %>
    <div id="non-matching-idps">
      <div class="grid-row">
        <div class="column-two-thirds">
          <p class="large-top">
            <%= t 'hub.choose_a_certified_company.filtered_idps_message_html',
                  company_count: t('hub.choose_a_certified_company.company_html', count: @non_recommended_idps.length) %>
          </p>
        </div>
      </div>
      <details>
        <summary>
          <span class="summary"><%= t 'hub.choose_a_certified_company.show_all_companies' %><span>
        </summary>
        <div class="panel-indent">
          <% @non_recommended_idps.each do |identity_provider| %>
            <%= render partial: 'idp_option', locals: {recommended: false, identity_provider: identity_provider} %>
          <% end %>
        </div>
      </details>
    </div>
  <% end %>
</div>
