<%= page_title 'hub_variant_c.select_documents.title' %>
<% content_for :feedback_source, 'SELECT_DOCUMENTS_PAGE' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= form_for @form, url: select_documents_submit_path, html: {id: 'validate-select-documents', class: 'select-documents-form', novalidate: 'novalidate', 'data-msg': t('hub_variant_c.select_documents.errors.no_selection')} do |f| %>
       <%= content_tag :div, class: form_question_class do %>
        <fieldset>
          <legend>
            <h1 class="govuk-fieldset__heading heading-large" style="margin-top: 0;"><%= t 'hub_variant_c.select_documents.heading' %></h1>
          </legend>
          <p><%= t 'hub_variant_c.select_documents.explanation' %></p>

          <p><%= t 'hub_variant_c.select_documents.select_all_that_apply' %></p>

          <% if flash[:errors] %>
            <div id="validation-error-message-no-js" class="validation-message" style="padding-top: 0;">
              <b><%= flash[:errors] %></b>
            </div>
          <% end %>

          <%= f.custom_check_box :has_valid_passport, { }, "t", "f", t('hub_variant_c.select_documents.documents_option_valid_passport') %>
          <%= f.custom_check_box :has_driving_license, { }, "t", "f", t('hub_variant_c.select_documents.documents_option_driving_license') %>
          <%= f.custom_check_box :has_phone_can_app, { }, "t", "f", t('hub_variant_c.select_documents.documents_option_phone_can_app') %>
          <%= f.custom_check_box :has_credit_card, { }, "t", "f", t('hub_variant_c.select_documents.documents_option_credit_card') %>
          <%= f.custom_check_box :has_nothing, { }, "t", "f", t('hub_variant_c.select_documents.documents_option_nothing') %>
        </fieldset>
      <% end %>

      <details class="govuk-details" style="margin-bottom: 20px;">
        <summary>
          <span class="summary"><%= t 'hub_variant_c.select_documents.further_explanation.title' %></span>
        </summary>
        <div class="panel panel-border-narrow">
          <%= t 'hub_variant_c.select_documents.further_explanation.content_html' %>
        </div>
      </details>

      <div class="actions">
        <%= f.submit t('navigation.continue'), class: 'button', id: 'next-button' %>
      </div>
    <% end %>
  </div>
</div>
