<%= page_title 'hub.start.title' %>
<% content_for :body_classes, 'hub-start' %>
<% content_for :feedback_source, 'START_PAGE' %>

<p><%= t 'hub.start.ab_test_loa1_shortened_description' %></p>
<%= @tailored_text.html_safe %>

<div class="actions">
  <%= button_link_to t('hub.start.ab_test_loa1_shortened_button'), begin_registration_path, id: 'next-button' %>
  <div>
    <%= t 'hub.start.ab_test_loa1_shortened_or' %>
    <%= link_to t('hub.start.ab_test_loa1_shortened_signin'), begin_sign_in_path %>
  </div>
</div>