<h1 class="govuk-heading-l"><%= t('hub.failed_registration.continue_heading', transaction_name: transaction.name) %></h1>

<p class="govuk-body">
  <%= t 'hub.failed_registration.continue_idp_text', idp_name: idp.display_name %>
  <%= raw transaction.other_ways_text %>
</p>

<p class="govuk-body"><%= t 'hub.failed_registration.continue_text', rp_name: transaction.rp_name %></p>

<%= button_link_to t('navigation.continue'), redirect_to_service_error_path, class: 'govuk-button' %>

