<%= page_title 'hub.failed_registration.heading', idp_name: idp.display_name %>
<h1 class="govuk-heading-l"><%= t 'hub.failed_registration.heading', idp_name: idp.display_name %></h1>
<p class="govuk-body"><%= t 'hub.failed_registration.you_can_still', service: @transaction.name %></p>

<%= render partial: @remaining_options_partial %>

<div class="govuk-body">
  <%= raw transaction.other_ways_text %>
</div>

<h2 class="govuk-heading-m"><%= t 'hub.failed_registration.your_account_with_heading', idp: idp.display_name %></h2>

<p class="govuk-body"><%= t 'hub.failed_registration.your_account_with_text', idp: idp.display_name %></p>

<div class="govuk-body">
  <%= raw idp.contact_details %>
</div>
