<%= page_title 'hub.failed_registration.heading', idp_name: @idp.display_name %>
<% content_for :feedback_source, 'FAILED_REGISTRATION_PAGE' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l"><%= t('hub.failed_registration.continue_heading', transaction_name: @transaction.name) %></h1>

    <p class="govuk-body">
      <%= t 'hub.failed_registration.continue_idp_text', idp_name: @idp.display_name %>
      <%= raw @transaction.other_ways_text %>
    </p>

    <p class="govuk-body"><%= t 'hub.failed_registration.continue_text', rp_name: @transaction.rp_name %></p>

    <%= button_link_to t('navigation.continue'), redirect_to_service_error_path, class: 'govuk-button' %>

    <h2 class="govuk-heading-m govuk-!-margin-top-4"><%= t 'hub.failed_registration.try_another_summary' %></h2>
    <div>
      <p class="govuk-body"><%= t 'hub.failed_registration.try_another_text', idp_name: @idp.display_name %></p>
      <p><%= link_to t('hub.failed_registration.try_another_company'), @try_another_company_path, class: "govuk-link" %></p>
    </div>

    <h2 class="govuk-heading-m"><%= t 'hub.failed_registration.contact_details_intro', idp_name: @idp.display_name %></h2>
    <div class="govuk-body">
      <%= raw @idp.contact_details %>
    </div>
  </div>
</div>
