<%= page_title 'hub.failed_registration.title' %>
<% content_for :feedback_source, 'FAILED_REGISTRATION_PAGE' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large"><%= t 'hub.failed_registration.heading', idp_name: @idp.display_name %></h1>

    <%= t 'hub.failed_registration.reasons_html' %>

    <h2 class="heading-medium">
      <%= t 'hub.failed_registration.what_to_do_next' %>
    </h2>

    <p><%= t 'hub.failed_registration.what_to_do_next_intro' %></p>

    <details class="next-actions">
      <summary><span class="summary"><%= t 'hub.failed_registration.other_ways_summary', other_ways_description: @transaction.other_ways_description.html_safe %></span></summary>
      <div class="panel panel-border-narrow">
        <%= @transaction.other_ways_text.html_safe %>
      </div>
    </details>

    <details class="next-actions">
      <summary><span class="summary"><%= t 'hub.failed_registration.contact_details_intro', idp_name: @idp.display_name %></span></summary>
      <div class="panel panel-border-narrow">
        <%= @idp.contact_details.html_safe %>
      </div>
    </details>

    <details class="next-actions">
      <summary><span class="summary"><%= t 'hub.failed_registration.try_another_summary' %></span></summary>
      <div class="panel panel-border-narrow">
        <p><%= t 'hub.failed_registration.try_another_text', idp_name: @idp.display_name %></p>
        <%= link_to t('hub.failed_registration.start_again'), select_documents_path %>
      </div>
    </details>

  </div>
</div>
