<%= page_title 'hub.failed_registration.title' %>
<% content_for :feedback_source, 'FAILED_REGISTRATION_PAGE' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge"><%= t('hub.failed_registration.continue_heading', transaction_name: @transaction_name) %></h1>

    <p><%= t 'hub.failed_registration.continue_idp_text', display_name: @idp.display_name %></p>

    <p><%= t 'hub.failed_registration.continue_text', rp_name: @rp_name %></p>

    <%= button_link_to t('navigation.continue'), redirect_to_service_error_path %>

    <h2 class="heading-medium"><%= t 'hub.failed_registration.problems_verifying_your_identity' %></h2>

    <%= t 'hub.failed_registration.reasons_html' %>

    <p><%= t 'hub.failed_registration.what_to_do_next_intro' %></p>

    <ol class="list list-number">
      <li>
        <%= t 'hub.failed_registration.contact_details_intro', display_name: @idp.display_name %>
        <div>
          <%= @idp.contact_details.html_safe %>
        </div>
      </li>
      <li>
        <%= link_to t('hub.failed_registration.try_another_company'), select_documents_path %>
      </li>
    </ol>
  </div>
</div>
