<div class="supported-verification-survey" class="js-show">
  <div class="question">
    <p>
      <strong class="heading-small"><%= t 'hub.supported_verification_survey.title' %>:</strong><%= t 'hub.supported_verification_survey.question' %>
      <a id="answer-yes" href="#"><%= t 'hub.supported_verification_survey.answer_yes' %></a>
      <a id="answer-no" href="#"><%= t 'hub.supported_verification_survey.answer_no' %></a>
    </p>
  </div>
  <div class="thank-you-message">
    <p><%= t 'hub.supported_verification_survey.thank_you' %></p>
  </div>
</div>
