<%= page_title 'hub.other_ways_title' %>
<% content_for :feedback_source, 'NO_MOBILE_PHONE' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge"><%= t 'hub.no_mobile_phone.heading' %></h1>

    <p><%= t 'hub.no_mobile_phone.p1', other_ways_description: @other_ways_description %></p>
    <p><%= t 'hub.no_mobile_phone.p2' %></p>

    <%= render partial: 'shared/other_ways', locals: {other_ways_text: @other_ways_text, other_ways_description: @other_ways_description} %>
  </div>
</div>