<% content_for :page_title, t('hub.start.title') %>
<% content_for :body_classes, 'hub-start' %>
<% content_for :feedback_source, 'SIGN_IN_PAGE' %>

<h1><%= t 'hub.start.heading' %></h1>

<%= form_tag '', id: 'start-page-form', class: 'js-validate', novalidate: 'novalidate' do %>
  <div class="form-group <%= @error_message.present? ? 'error' : '' %>">
    <fieldset>
      <label class="block-label" for="yes" onclick="">
        <input id="yes"
               type="radio"
               name="selection"
               value="true"
               required
               data-msg="<%= h(t 'hub.start.error_message') %>" />
        <span><span class="inner"></span></span>
        <%= t 'hub.start.answer_yes' %>
      </label>
      <label class="block-label" for="no" onclick="">
        <input id="no"
               type="radio"
               name="selection"
               value="false"
               required
               data-msg="<%= h(t 'hub.start.error_message') %>" />
        <span><span class="inner"></span></span>
        <%= t 'hub.start.answer_no' %>
      </label>
    </fieldset>
  </div>
  <% if @error_message.present? %>
    <div class="form-group error validation-message" id="validation-error-message-no-js"><%= t @error_message %></div>
  <% end %>

  <div id="validation-error-message-js"></div>

  <div class="form-group-tight">
    <div class="actions">
      <input class="button" id="next-button" type="submit" value="<%= t 'hub.start.continue' %>" />
    </div>
  </div>
<% end %>
