<%= page_title 'hub.start.heading', {}, @journey_hint %>
<% content_for :body_classes, 'hub-start' %>
<% content_for :feedback_source, 'START_PAGE' %>
<% # Uses slide layout %>

  <%= render 'shared/form-errors', errors: flash[:errors], form: @form %>

  <h1 class="govuk-heading-l"><%= t 'hub.start.heading' %></h1>

  <%= form_for @form, url: start_path, html: {id: 'start-page-form', class: 'js-validate', novalidate: 'novalidate'} do |f| %>
    <%= content_tag :div, class: form_question_class do %>
      <% if @form.errors.include?(:selection_true) %>
          <span class="govuk-error-message">
            <%= @form.errors[:selection_true].first %>
          </span>
      <% end %>
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading"><%= t 'hub.start.sub_heading' %></h2>
        </legend>
        <div class="govuk-radios">
          <div class="govuk-radios__item">
            <%= f.radio_button :selection, true, {required: true, data: { msg: t('hub.start.error_message')}, piwik_event_tracking: 'journey_user_type', class: "govuk-radios__input", id: "start_form_selection_true"}%>
            <%= f.label :selection_true, t('hub.start.answer_yes'), class: "govuk-label govuk-radios__label"%>
          </div>
          <div class="govuk-radios__item">
            <%= f.radio_button :selection, false, {required: true, data: { msg: t('hub.start.error_message')}, piwik_event_tracking: 'journey_user_type', class: "govuk-radios__input"}%>
            <%= f.label :selection_false, t('hub.start.answer_no'), class: "govuk-label govuk-radios__label"%>
            <span class="govuk-hint govuk-radios__hint"><%= t('hub.start.answer_no_hint') %></span>
          </div>
        </div>
      </fieldset>
    <% end %>

    <div id="validation-error-message-js"></div>

    <div class="form-group-tight">
      <div class="actions">
        <%= f.submit t('hub.start.continue'), class: 'govuk-button verify-inverse-btn button', id: 'next-button' %>
      </div>
    </div>
  <% end %>
