<%= form_tag(test_journey_hint_path) do -%>
  <%= text_field_tag('entity-id') %>
  <%= text_field_tag('locale') %>
  <%= text_field_tag('status') %>
  <div><%= submit_tag 'journey-hint-post' %></div>
<% end -%>