<%= form_tag(test_journey_hint_path) do -%>
  <%= text_field_tag('entity-id') %>
  <%= text_field_tag('locale') %>
  <%= text_field_tag('status') %>
  <div><%= submit_tag 'journey-hint-post' %></div>
<% end -%>
<%= form_tag(test_journey_hint_old_submit_path) do -%>
  <%= text_field_tag('entity-id-old') %>
  <%= text_field_tag('locale-old') %>
  <%= text_field_tag('status-old') %>
  <div><%= submit_tag 'journey-hint-post-old' %></div>
<% end -%>
