<%= page_title 'hub.choose_a_certified_company.title' %>
<% content_for :feedback_source, 'CHOOSE_A_CERTIFIED_COMPANY_PAGE' %>
<% content_for :additional_javascript do %>
    <%= javascript_include_tag 'piwik_idp_picker_tracking' %>
<% end %>

<div class="content-inner">
  <div class="grid-row js-continue-to-idp-radio" data-location="<%= url_for(controller: 'choose_a_certified_company_loa1_variant_radio', action: 'select_idp_ajax', locale: I18n.locale)  %>">
    <div class="column-two-thirds">
      <h1 class="heading-large"><%= t 'hub.choose_a_certified_company.heading' %></h1>
      <p><%= t 'hub.choose_a_certified_company.existing_customer' %></p>
      <p><%= t 'hub.choose_a_certified_company.personal_information' %></p>
      <ul class="list list-bullet">
        <li><%= link_to(t('hub.choose_a_certified_company.why_companies'), why_companies_path) %></li>
      </ul>

      <h2 class="heading-medium"><%= t 'hub.choose_a_certified_company.ab_test_radio_variant_question' %></h2>

      <%= form_tag('', id: 'choose-a-certified-company-form', class: 'idp-radios js-idp-form-radio', 'data-msg': t('hub.choose_a_certified_company.ab_test_radio_variant_validation_error')) do %>
        <%= render 'shared/form-errors', errors: flash[:errors] %>

        <%= content_tag :div, class: form_question_class do %>
          <fieldset>
            <%= collection_radio_buttons(nil, nil, @recommended_idps, :entity_id, :display_name) do |b| %>
              <div class="multiple-choice">
                <%=  
                  b.radio_button({name: 'entity_id'}) +  
                  b.label { b.text } +
                  image_tag(b.object.logo_path, {alt: b.object.display_name})
                %>
              </div>
            <% end %>
          </fieldset>
        <% end %>

        <div id="validation-error-message-js"></div>

        <div class="actions">
          <%= button_tag t('hub.choose_a_certified_company.ab_test_radio_variant_button'),
                  class: 'button',
                  type: 'submit'
          %>
        </div>

      <% end %>

      <%= render partial: 'shared/continue_to_idp_form' %>

    </div>
  </div>
</div>