<% taxons = transaction_taxon_list %>
<% if taxons.any? %>
  <% taxons.each do |taxon| %>
    <h3 class="govuk-heading-s"><%= taxon.name %></h3>
    <ul class="govuk-list">
      <% taxon.transactions.each do |transaction| %>
        <li>
          <% if transaction.headless_startpage %>
            <%= link_to transaction.name, transaction.headless_startpage %>
          <% elsif transaction.homepage %>
            <%= link_to transaction.name, transaction.homepage %>
          <% else %>
            <%= transaction.name %>
            <p class="form-hint"><%= t 'hub.transaction_list.hint' %></p>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>
