<div class="idp-choice">
  <%= form_for(identity_provider, url: choose_a_certified_company_submit_path, html: {class: nil, id: nil}) do |f| %>
    <%= hidden_field_tag 'entity_id', identity_provider.entity_id, id: nil %>
    <div class="company-logo">
      <div class="company-logo-img-container">
        <%= image_submit_tag(identity_provider.logo_path, alt: "#{identity_provider.display_name} logo") %>
      </div>
      <p class="company-about">
        <%= link_to(t('hub.choose_a_certified_company.about_idp', display_name: identity_provider.display_name), choose_a_certified_company_about_path(identity_provider.simple_id)) %>
      </p>
    </div>
    <% unless identity_provider.unavailable %>
      <div class="idp-option">
        <%= f.button t('hub.choose_a_certified_company.choose_idp', display_name: identity_provider.display_name),
                      class: recommended ? 'button' : 'button-link',
                      role: recommended ? nil : 'link',
                      name: identity_provider.simple_id,
                      id: nil,
                      type: 'submit',
                      value: identity_provider.display_name,
                      'data-order': order
        %>
      </div>
  <% else %>
      <h3 class="heading-small"><%= t 'hub.certified_companies_unavailable.title', count: 1, company: identity_provider.display_name %></h3>
      <p><%=
        t 'hub.certified_companies_unavailable.verify_another_company_text'
      %></p>
  <% end %>
  <% end %>
</div>
