<% content_for :page_title, t('hub.why_companies.title') %>
<% content_for :feedback_source, 'WHY_COMPANIES_PAGE' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= link_to t('navigation.back'), @choose_a_certified_company_link, class: 'link-back' %>

    <h1 class="heading-large"><%= t('hub.why_companies.title') %></h1>

    <p><%= t('hub.why_companies.content.p1') %></p>
    <p><%= t('hub.why_companies.content.p2') %></p>
    <p><%= t('hub.why_companies.content.p3') %></p>
    <p><%= t('hub.why_companies.content.p4') %></p>
    <p><%= t('hub.why_companies.content.p5') %></p>
    <p><%= link_to(t('hub.why_companies.content.choose_a_company'), @choose_a_certified_company_link) %></p>
  </div>
</div>
