<%= page_title 'hub.about.title' %>
<% content_for :feedback_source, 'ABOUT_PAGE' %>

<div class="content-inner">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large"><%= t 'hub.about.ab_test_heading' %></h1>
      <p><%= t 'hub.about.ab_test_intro', other_ways_description: @transaction.other_ways_description %></p>

      <details>
        <summary>
          <span class="summary"><%= t 'hub.about.ab_test_summary' %></span>
        </summary>
        <div class="panel panel-border-narrow">
          <ul class="list-companies">
            <% @identity_providers.each do |idp| %>
              <li>
                <%= image_tag idp.logo_path, alt: idp_tagline(idp) %>
              </li>
            <% end %>
          </ul>
          <%= t 'hub.about.ab_test_details' %>
        </div>
      </details>

      <p class="medium-top"><%= t 'hub.about.ab_test_more_details', service: @transaction.rp_name %></p>

      <%= t 'hub.about.ab_test_requirements_html' %>

    </div>
  </div>
<div>

<div class="actions">
  <%= button_link_to t('hub.about.ab_test_next'), will_it_work_for_me_path, id: 'next-button' %>
  <p><%= t 'hub.about.ab_test_or'%> <%= link_to t('hub.about.ab_test_other_ways', other_ways_description: @transaction.other_ways_description), other_ways_to_access_service_path  %>.</p>
</div>