<%= page_title 'hub.start.title' %>
<% content_for :body_classes, 'hub-start' %>
<% content_for :feedback_source, 'START_PAGE_IDP_FOCUSED_VARIANT' %>
<% content_for :additional_javascript do %>
    <%= javascript_include_tag 'piwik_idp_focused_picker_tracking' %>
<% end %>


<div class="sign-in-container js-continue-to-idp" data-location="<%= url_for(controller: 'start_idp_focused_variant', action: 'select_idp_ajax', locale: I18n.locale)  %>">
  <h1 class="heading-large"> <%=t 'hub.start.ab_test_idp_focused_heading' %> </h1>   

  <p class="center padding"><%=t('hub.start.ab_test_idp_focused_welcome', other_ways_description: @other_ways_description)%></p>

  <%= button_link_to t('hub.start.ab_test_idp_focused_button'), begin_registration_path, id: 'begin-registration-path' %>

  <p class="center padding"><%=t('hub.start.ab_test_idp_focused_or')%></p>

  <p class="center padding"><%=t('hub.start.ab_test_idp_focused_reuse')%></p>

  <div class="idp-list">
    <% @identity_providers.each_with_index do |identity_provider, idx| %>
      <%= form_for(identity_provider, url: start_submit_path, html: {class: 'js-idp-form', id: nil}) do |f| %>
        <%= hidden_field_tag 'entity_id', identity_provider.entity_id, id: nil, class: 'js-entity-id' %>
        <div class="idp-container">
          <div class="logo">
            <%= image_submit_tag(identity_provider.small_logo_path, alt: '') %>
          </div>
          <div class="link">
            <%= f.button identity_provider.display_name,
                        class: 'button-text',
                        name: identity_provider.entity_id,
                        id: nil,
                        type: 'submit',
                        value: identity_provider.display_name
            %>
          </div>
        </div>
      <% end %>
    <% end %>   
  </div>

  <p><%=t('hub.start.ab_test_idp_focused_description')%></p>
  <div class="verify-badge">
    <div class="logo">
      <%= image_tag 'govuk-verify-black.png', srcset: "#{asset_path 'govuk-verify-black.svg'} 1x", alt: 'GOV.UK Verify' %>
    </div>
    <div class="divider"></div>
    <div class="text font-xsmall"><%=t('hub.start.ab_test_idp_focused_badge_text')%></div>
  </div>

  <details>
    <summary><span class="summary"><%=t('hub.start.ab_test_idp_focused_summary')%></span></summary>
    <div>
      <%=t('hub.start.ab_test_idp_focused_details_html')%>
    </div>
  </details>
</div>
<%= render partial: 'shared/continue_to_idp_form' %>
