<%= page_title 'hub.cancelled_registration.title' %>
<% content_for :feedback_source, 'CANCELLED_REGISTRATION' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large"><%= t 'hub.cancelled_registration.heading', idp_name: @idp.display_name %></h1>

    <p><%= t 'hub.cancelled_registration.next' %></p>

    <ul class="list list-bullet">
      <li><%= link_to t('hub.cancelled_registration.options.other_ways_to_verify', service_name: @service_name), other_ways_to_access_service_path %></li>
      <li><%= link_to t('hub.cancelled_registration.options.verify_with_another_company'), choose_a_certified_company_path %></li>
      <li><%= link_to t('hub.cancelled_registration.options.verify_using_other_documents'), select_documents_path %></li>
      <li><%= link_to t('hub.cancelled_registration.options.contact_verify'), feedback_path %></li>
    </ul>
  </div>
</div>