<%= page_title 'errors.no_cookies.title' %>
<% content_for :feedback_source, 'COOKIE_NOT_FOUND_PAGE' %>
<% content_for :piwik_custom_path, '/cookies-not-found' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large"><%= t 'errors.no_cookies.heading' %></h1>
    <p><%= t 'errors.no_cookies.access_restriction' %></p>
    <%= render partial: 'shared/transaction_list' %>
    <p><%= t 'errors.no_cookies.read_more_html'  %></p>
    <p class="panel panel-border-narrow"><%= t 'errors.no_cookies.enable_cookies' %></p>
  </div>
</div>
