<%= page_title 'errors.session_timeout.title' %>
<% content_for :feedback_source, 'EXPIRED_ERROR_PAGE' %>
<% content_for :piwik_custom_path, '/errors/timeout-error' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge"><%= t 'errors.session_timeout.title' %></h1>
    <h2 class="heading-medium"><%= t 'errors.session_timeout.return_to_service' %></h2>
    <p><%= link_to t('errors.session_timeout.start_again'), '/redirect-to-service/error', class: 'button' %></p>
    <p><%= t('errors.session_timeout.feedback_message', feedback_link: link_to(t('errors.session_timeout.feedback'), feedback_path('feedback-source': feedback_source))).html_safe %></p>
  </div>
</div>
