<% identity_providers_page = 'clever_questions.hub.about_identity_providers'%>
<%= page_title "#{identity_providers_page}.title" %>
<% content_for :feedback_source, 'ABOUT_IDENTITY_PROVIDERS_PAGE' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">
      <%= t "#{identity_providers_page}.heading" %>
    </h1>
    <%= t "#{identity_providers_page}.content_html" %>
    <ul class="list-companies">
      <% @identity_providers.each do |idp| %>
          <li>
            <%= image_tag idp.white_logo_path, alt: idp_tagline(idp) %>
          </li>
      <% end %>
    </ul>
    <%= t "#{identity_providers_page}.content_bottom_html" %>
  </div>
</div>
<div class="actions">
  <%= button_link_to t('navigation.continue'), about_choosing_an_identity_provider_path, id: 'next-button' %>
</div>
