<%= render 'shared/page_title', title_key: 'hub.redirect_to_idp_warning.title' %>
<% content_for :feedback_source, 'REDIRECT_TO_IDP_WARNING_PAGE' %>

<div class="grid-row js-continue-to-idp" data-location="<%= url_for(controller: 'redirect_to_idp_warning', action: 'continue_ajax', locale: I18n.locale)  %>">
  <div class="column-two-thirds">
    <h1 class="heading-large"><%= t 'hub.redirect_to_idp_warning.continue_to_idp', display_name: @idp.display_name %></h1>
    <% if @recommended %>
        <%= render partial: 'recommended', locals: { idp: @idp } %>
    <% else %>
        <%= render partial: 'non_recommended', locals: { idp: @idp } %>
    <% end %>

    <%= form_tag('', class: 'js-idp-form') do %>
        <%= button_tag t('hub.redirect_to_idp_warning.continue_to_idp', display_name: @idp.display_name),
                       class: 'button',
                       id: 'continue-to-idp-button',
                       type: 'submit'
        %>
    <% end %>
    <% if user_has_no_docs_or_foreign_id_only? && @recommended %>
        <%= other_ways(@idp) %>
    <% end %>
  </div>
  <%= render partial: 'shared/continue_to_idp_form' %>
</div>

