<%= page_title 'hub.redirect_to_idp_warning.title' %>
<% content_for :feedback_source, 'REDIRECT_TO_IDP_WARNING_PAGE' %>

<div class="grid-row js-continue-to-idp no-right-hand-logo" data-location="<%= url_for(controller: 'redirect_to_idp_warning', action: 'continue_ajax', locale: I18n.locale)  %>">
  <div class="column-two-thirds">
    <h1 class="heading-large"><%= t 'hub.redirect_to_idp_warning.continue_to_idp', display_name: @idp.display_name %></h1>

    <%= t 'hub.redirect_to_idp_warning.identity_account_use_html', display_name: @idp.display_name %>
    <p><%= t 'hub.redirect_to_idp_warning.service_use', service_name: @service_name %></p>

    <%= form_tag('', class: 'js-idp-form') do %>
        <%= button_tag t('hub.redirect_to_idp_warning.continue_to_idp', display_name: @idp.display_name),
                       class: 'button',
                       id: 'continue-to-idp-button',
                       type: 'submit'
        %>
    <% end %>
    <div class="logos-container">
      <ul class="list-logos">
        <li class="verify"><%= image_tag @idp.logo_path, alt: '' %></li><!--
     --><li><%= image_tag 'govuk-verify-small-black-text-400X200.png', alt: 'GOV.UK VERIFY' %></li>
      </ul>
    </div>

  </div>
  <%= render partial: 'shared/continue_to_idp_form' %>
</div>

