<%= page_title 'hub.failed_uplift.title' %>
<% content_for :feedback_source, 'FAILED_UPLIFT_PAGE' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large"><%= t 'hub.failed_uplift.heading', display_name: @idp.display_name %></h1>

    <%= t 'hub.failed_uplift.reasons_html', idp_name: @idp.display_name %>

    <h2 class="heading-medium"><%= t 'hub.failed_uplift.what_next_heading' %></h2>
    <details class="next-actions">
      <summary><span class="summary"><%= t 'hub.failed_uplift.other_ways_summary', other_ways_description: @transaction.other_ways_description %></span></summary>
      <div class="panel panel-border-narrow">
        <%= @transaction.other_ways_text.html_safe %>
      </div>
    </details>

    <details class="next-actions">
      <summary><span class="summary"><%= t 'hub.failed_uplift.contact_summary', idp_name: @idp.display_name %></span></summary>
      <div class="panel panel-border-narrow">
        <%= @idp.contact_details.html_safe %>
      </div>
    </details>

    <details class="next-actions">
      <summary><span class="summary"><%= t 'hub.failed_uplift.try_another_summary' %></span></summary>
      <div class="panel panel-border-narrow">
        <p><%= t 'hub.failed_uplift.try_another_text', idp_name: @idp.display_name %></p>
        <p><%= link_to t('hub.failed_uplift.start_again'), start_path, id: 'startAgain' %></p>
      </div>
    </details>

    <h2 class="heading-medium"><%= t 'hub.failed_uplift.still_use_heading', idp_name: @idp.display_name %></h2>
    <p><%= t 'hub.failed_uplift.still_use_text' %></p>
    <ul class="list-bullet list">
      <% loa1_transactions_list.each do |transaction| -%>
          <li><%= link_to transaction.name, transaction.homepage %></li>
      <% end %>
    </ul>
  </div>
</div>
