<%= page_title 'hub.prove_identity.heading' %>
<% content_for :feedback_source, :PROVE_IDENTITY_PAGE %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t 'hub.prove_identity.heading' %></h1>
    <p class="govuk-body"><%= t 'hub.prove_identity.header_content' %> <%= current_transaction.name %>.</p>

    <h2 class="govuk-heading-m"><%= t 'hub.prove_identity.use_verify.heading' %></h2>
    <%= t 'hub.prove_identity.use_verify.content_html' %>
    <%= button_link_to t('hub.prove_identity.use_verify.button_text'), start_path, class: "govuk-button" %>

  </div>
</div>
