<%= page_title 'hub.prove_identity.title' %>
<% content_for :feedback_source, 'PROVE_IDENTITY_PAGE' %>

<div class="govuk-grid-column-three-quarters">
  <h1 class="govuk-heading-l"><%= t 'hub.prove_identity.heading' %></h1>
  <p class="govuk-body"><%= t 'hub.prove_identity.header_content' %> <%= current_transaction.name %>.</p>

  <h2 class="govuk-heading-m"><%= t 'hub.prove_identity.use_verify.heading' %></h2>
  <%= t 'hub.prove_identity.use_verify.content_html' %>
  <%= button_link_to t('hub.prove_identity.use_verify.button_text'), start_path, class: "govuk-button" %>


  <h2 class="govuk-heading-m"><%= t 'hub.prove_identity.use_eidas.heading' %></h2>
  <%= t 'hub.prove_identity.use_eidas.content_html' %>
  <%= button_link_to t('hub.prove_identity.use_eidas.button_text'), choose_a_country_path, class: "govuk-button" %>
</div>
