<%= page_title 'hub.about.title' %>
<% content_for :feedback_source, 'ABOUT_PAGE' %>

<p><%= t 'hub.about.verify_is_a_service' %></p>
<%= raw @tailored_text %>

<div class="actions">
  <%= button_link_to t('navigation.next'), about_certified_companies_path, id: 'next-button' %>
</div>

<%= t 'hub.about.ab_test.eligibility_info_html' %>
<%= link_to(t('hub.about.ab_test.other_ways_link', other_ways_description: @other_ways_description), why_might_this_not_work_for_me_path) %>


