<%= page_title 'hub.about_certified_companies.title' %>
<% content_for :feedback_source, 'ABOUT_CERTIFIED_COMPANIES_PAGE' %>

<p class="verify-inverse"><%= t 'hub.about_certified_companies.a_certified_company_will_verify' %></p>
<p class="verify-inverse"><%= t 'hub.about_certified_companies.dont_need_to_be_existing_customer' %></p>

<ul class="govuk-list list-companies">
  <% @identity_providers.each do |idp| %>
    <li>
      <%= image_tag idp.white_logo_path, alt: t('common.logo', name: idp.display_name) %>
    </li>
  <% end %>
</ul>

<p class="verify-inverse"><%= t 'hub.about_certified_companies.no_charge' %></p>

<div class="actions">
  <%= button_link_to t('navigation.next'), about_identity_accounts_path, id: 'next-button', class: "govuk-button verify-inverse" %>
</div>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text"><%= t 'hub.about_certified_companies.summary' %></span>
  </summary>
  <div class="govuk-details__text">
    <%= t 'hub.about_certified_companies.details_html' %>
  </div>
</details>
