<%= page_title 'hub.about.verify.what_it_is.heading' %>
<% content_for :feedback_source, :ABOUT_VERIFY_PAGE %>

<h1 class="govuk-heading-l"><%= t 'hub.about.verify.what_it_is.heading' %></h1>
<p><%= t 'hub.about.verify.what_it_is.content' %></p>
<%= raw @tailored_text %>

<h2 class="govuk-heading-m"><%= t 'hub.about.verify.how_it_works.heading' %></h2>
<p><%= t 'hub.about.verify.how_it_works.content' %></p>

<ul class="list-companies">
  <% @identity_providers.each do |idp| %>
    <li>
      <%= image_tag idp.white_logo_path, alt: t('common.logo', name: idp.display_name) %>
    </li>
  <% end %>
</ul>

<%= raw t 'hub.about.verify.company.content_html' %>

<div class="actions">
  <%= button_link_to t("navigation.continue"), @next_page_path, id: 'next-button', class: 'govuk-button' %>
</div>
