<% content_for :page_title, t('hub.about_identity_accounts.title') %>
<% content_for :feedback_source, 'ABOUT_IDENTITY_ACCOUNTS_PAGE' %>

<p xmlns="http://www.w3.org/1999/html"><%= t 'hub.about_identity_accounts.content.p1' %></p>
<p xmlns="http://www.w3.org/1999/html"><%= t 'hub.about_identity_accounts.content.p2' %></p>
<p xmlns="http://www.w3.org/1999/html"><%= t 'hub.about_identity_accounts.content.p3' %></p>

<div class="actions">
  <%= link_to t('navigation.next'), about_identity_accounts_path, class: 'button-action' %>
</div>

<details>
  <summary>
    <span class="summary"><%= t 'hub.about_identity_accounts.summary' %></span>
  </summary>
  <div class="panel-indent">
    <p><%= t 'hub.about_identity_accounts.details' %></p>
    <ul class="list-bullet">
      <% transactions_list.public.each do |transaction| -%>
          <li><%= transaction.name %></li>
      <% end %>
    </ul>
  </div>
</details>