<%= page_title 'hub.about_identity_accounts.title' %>
<% content_for :feedback_source, 'ABOUT_IDENTITY_ACCOUNTS_PAGE' %>
<% # Uses slide layout %>

<%= t 'hub.about_identity_accounts.content_html' %>

<div class="actions">
  <%= button_link_to t('hub.about_identity_accounts.navigation.start_now'), about_choosing_a_company_path, id: 'next-button', class: "govuk-button verify-inverse-btn" %>
</div>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text"><%= t 'hub.about_identity_accounts.summary' %></span>
  </summary>
  <div class="govuk-details__text">
    <p class="govuk-body"><%= t 'hub.about_identity_accounts.details' %></p>
    <ul class="govuk-list govuk-list--bullet">
      <% transactions_list.name_homepage.each do |transaction| -%>
          <li><%= transaction.name %></li>
      <% end %>
    </ul>
  </div>
</details>
