<%= form_tag('/SAML2/SSO') do -%>
  <%= hidden_field_tag('SAMLRequest', 'my-saml-request') %>
  <%= hidden_field_tag('RelayState', 'my-relay-state') %>
  <div><%= submit_tag 'saml-post' %></div>
<% end -%>
<%= form_tag('/SAML2/SSO') do -%>
  <%= hidden_field_tag('SAMLRequest', 'my-saml-request') %>
  <%= hidden_field_tag('RelayState', 'my-relay-state') %>
  <%= hidden_field_tag('language', 'en') %>
  <div><%= submit_tag 'saml-post-with-en-language' %></div>
<% end -%>
<%= form_tag('/SAML2/SSO') do -%>
  <%= hidden_field_tag('SAMLRequest', 'my-saml-request') %>
  <%= hidden_field_tag('RelayState', 'my-relay-state') %>
  <%= hidden_field_tag('language', 'cy') %>
  <div><%= submit_tag 'saml-post-with-cy-language' %></div>
<% end -%>
<%= form_tag('/SAML2/SSO') do -%>
  <%= hidden_field_tag('SAMLRequest', 'my-saml-request') %>
  <%= hidden_field_tag('RelayState', 'my-relay-state') %>
  <%= hidden_field_tag('journey_hint', 'my-journey-hint') %>
  <div><%= submit_tag 'saml-post-journey-hint' %></div>
<% end -%>
<%= form_tag('/SAML2/SSO/Response/POST') do -%>
    <%= hidden_field_tag('SAMLResponse', 'my-saml-response') %>
    <%= hidden_field_tag('RelayState', params.fetch('session-id', cookies[CookieNames::SESSION_ID_COOKIE_NAME])) %>
    <div><%= submit_tag 'saml-response-post' %></div>
<% end -%>
<%= form_tag('/SAML2/SSO/Response/POST') do -%>
    <%= hidden_field_tag('SAMLResponse', 'my-saml-response') %>
    <%= hidden_field_tag('RelayState', params.fetch('session-id', cookies[CookieNames::SESSION_ID_COOKIE_NAME])) %>
    <%= hidden_field_tag('language', 'en') %>
    <div><%= submit_tag 'saml-response-post-with-en-language' %></div>
<% end -%>
<%= form_tag('/SAML2/SSO/Response/POST') do -%>
    <%= hidden_field_tag('SAMLResponse', 'my-saml-response') %>
    <%= hidden_field_tag('RelayState', params.fetch('session-id', cookies[CookieNames::SESSION_ID_COOKIE_NAME])) %>
    <%= hidden_field_tag('language', 'cy') %>
    <div><%= submit_tag 'saml-response-post-with-cy-language' %></div>
<% end -%>
