<%= page_title 'hub.feedback.title' %>
<% content_for :show_to_search_engine, true %>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge"><%= t 'hub.feedback.heading' %></h1>

    <% if flash[:errors] %>
        <div id="validation-error-message-no-js" class="validation-message form-group">
          <p class="error"><%= flash[:errors] %></p>
        </div>
    <% end %>

    <%= t 'hub.feedback.introduction_html' %>

    <% if @has_email_sending_error %>
      <div class="error-summary" aria-labelledby="error-summary-heading" role="group" tabindex="-1">
        <h2 class="heading-medium error-summary-heading" id="error-summary-heading"><%= t 'hub.feedback.errors.heading' %></h2>
        <ul class="error-summary-list">
          <li><%= t 'hub.feedback.errors.send_failure' %></li>
        </ul>
      </div>
    <% end %>

    <%= form_for @form, url: feedback_submit_path, html: { class: 'feedback-form', id: 'feedback', novalidate: true } do |f| %>
        <fieldset>
          <%= content_tag :div, class: @form.errors.include?(:what) ? 'form-group error' : 'form-group' do %>
            <div class="form-group">
              <%= f.label :what, t('hub.feedback.questions.what'), class: 'form-label' %>
              <% if @form.errors.include?(:what) %>
                  <span class="error-message"><%= @form.errors[:what].first %></span>
              <% end %>
              <%= f.text_area :what, rows: 10, cols: 80, class: 'form-control counted', required: true,
                              'data-msg': t('hub.feedback.character_count_message', limit_message: t('hub.feedback.character_limit_message')),
                              data: { 'rule-maxlength': @form.long_limit, 'msg-required': t('hub.feedback.errors.details'),
                  'msg-maxlength': t('hub.feedback.errors.too_long', max_length: @form.long_limit) } %>
              <p id="feedback_form_what_counter" class="hint" aria-live="polite" aria-atomic="false">
                <%= t('hub.feedback.character_limit_message') %>
              </p>
            </div>
          <% end %>

          <%= content_tag :div, class: @form.errors.include?(:details) ? 'form-group error' : 'form-group' do %>
            <div class="form-group">
              <%= f.label :details, t('hub.feedback.questions.details'), class: 'form-label' %>
              <% if @form.errors.include?(:details)%>
                  <span class="error-message"><%= @form.errors[:details].first %></span>
              <% end %>
              <%= f.text_area :details, rows: 20, cols: 80, class: 'form-control counted', required: true,
                              'data-msg': t('hub.feedback.character_count_message', limit_message: t('hub.feedback.character_limit_message')),
                              data: { 'rule-maxlength': @form.long_limit, 'msg-required': t('hub.feedback.errors.details'),
                  'msg-maxlength': t('hub.feedback.errors.too_long', max_length: @form.long_limit) } %>
              <p id="feedback_form_details_counter" class="hint" aria-live="polite" aria-atomic="false">
                <%= t('hub.feedback.character_limit_message') %>
              </p>
            </div>
          <% end %>

          <div class="form-section">
            <fieldset>
              <legend class="heading-medium"><%= t 'hub.feedback.questions.reply' %></legend>
              <%= content_tag :div, class: @form.errors.include?(:reply) ? 'form-group inline error' : 'form-group inline' do %>
                <% if @form.errors.include?(:reply)%>
                  <span class="error-message"><%= @form.errors[:reply].first %></span>
                <% end %>
                <%= f.custom_radio_button :reply, true, t('hub.feedback.questions.reply_option_yes'), {required: true, data: { msg: t('hub.feedback.errors.reply')}} %>
                <%= f.custom_radio_button :reply, false, t('option.no'), {required: true, data: { msg: t('hub.feedback.errors.reply')}} %>
              <% end %>
            </fieldset>

            <div class="panel panel-border-narrow reply-fields js-hidden">
              <p><%= t 'hub.feedback.request_reply' %></p>

              <%= content_tag :div, class: @form.errors.include?(:name) ? 'form-group error' : 'form-group' do %>
                <div class="form-group">
                  <%= f.label :name, t('hub.feedback.questions.name'), class: 'form-label' %>
                  <% if @form.errors.include?(:name) %>
                      <span class="error-message"><%= @form.errors[:name].first %></span>
                  <% end %>
                  <%= f.text_field :name, required: true, maxlength: @form.short_limit, class: 'form-control form-control-3-4', data: { 'msg-required': t('hub.feedback.errors.name') } %>
                </div>
              <% end %>

              <%= content_tag :div, class: @form.errors.include?(:email) ? 'form-group error' : 'form-group' do %>
                <div class="form-group">
                  <%= f.label :email, class: 'form-label' do %>
                    <%= t('hub.feedback.questions.email') %>
                    <span class="form-hint"><%= t('hub.feedback.questions.email_hint') %></span>
                  <% end %>
                  <% if @form.errors.include?(:email)%>
                      <span class="error-message"><%= @form.errors[:email].first %></span>
                  <% end %>
                  <%= f.email_field :email, required: true, maxlength: @form.short_limit, class: 'form-control form-control-3-4', data: { msg: t('hub.feedback.errors.email') } %>
                </div>
              <% end %>

              <p>
                <%= t('hub.feedback.consent_message_html', href: link_to(t('hub.feedback.privacy_notice_link'), privacy_notice_path(anchor:'how-we-use-information'))) %>
              </p>
            </div>
          </div>

          <%= f.hidden_field :js_disabled, value: true %>

          <div class="actions">
            <%= f.submit t('hub.feedback.send_message'), class: 'button' %>
          </div>
        </fieldset>
    <% end %>
  </div>
</div>
