<%= page_title 'hub.feedback.title' %>

<div class="govuk-grid-column-three-quarters">
  <h1 class="govuk-heading-l"><%= t 'hub.feedback.heading' %></h1>

  <%= render 'shared/form-errors', errors: flash[:errors] %>

  <%= t 'hub.feedback.introduction_html' %>

  <% if @has_email_sending_error %>
    <div class="error-summary" aria-labelledby="error-summary-heading" role="alert" tabindex="-1">
      <h2 class="govuk-heading-m error-summary-heading" id="error-summary-heading"><%= t 'hub.feedback.errors.heading' %></h2>
      <ul class="govuk-list error-summary-list">
        <li><%= t 'hub.feedback.errors.send_failure' %></li>
      </ul>
    </div>
  <% end %>

  <%= form_for @form, url: feedback_submit_path, html: { class: 'feedback-form', id: 'feedback', novalidate: true } do |f| %>
      <fieldset class="govuk-fieldset">
        <%= content_tag :div, class: @form.errors.include?(:what) ? 'govuk-form-group govuk-form-group--error' : 'govuk-form-group' do %>
          <div class="govuk-form-group">
            <%= f.label :what, t('hub.feedback.questions.what'), class: 'govuk-label' %>
            <% if @form.errors.include?(:what) %>
                <span class="govuk-error-message"><%= @form.errors[:what].first %></span>
            <% end %>
            <%= f.text_area :what, rows: 10, cols: 80, class: 'govuk-textarea counted', required: true,
                            'data-msg': t('hub.feedback.character_count_message', limit_message: t('hub.feedback.character_limit_message')),
                            data: { 'rule-maxlength': @form.long_limit, 'msg-required': t('hub.feedback.errors.details'),
                'msg-maxlength': t('hub.feedback.errors.too_long', max_length: @form.long_limit)} %>
            <p id="feedback_form_what_counter" class="govuk-hint" aria-live="polite" aria-atomic="false">
              <%= t('hub.feedback.character_limit_message') %>
            </p>
          </div>
        <% end %>

        <%= content_tag :div, class: @form.errors.include?(:details) ? 'govuk-form-group govuk-form-group--error' : 'govuk-form-group' do %>
          <div class="govuk-form-group">
            <%= f.label :details, t('hub.feedback.questions.details'), class: 'govuk-label' %>
            <% if @form.errors.include?(:details)%>
                <span class="govuk-error-message"><%= @form.errors[:details].first %></span>
            <% end %>
            <%= f.text_area :details, rows: 20, cols: 80, class: 'govuk-textarea counted', required: true,
                            'data-msg': t('hub.feedback.character_count_message', limit_message: t('hub.feedback.character_limit_message')),
                            data: { 'rule-maxlength': @form.long_limit, 'msg-required': t('hub.feedback.errors.details'),
                'msg-maxlength': t('hub.feedback.errors.too_long', max_length: @form.long_limit) } %>
            <p id="feedback_form_details_counter" class="govuk-hint" aria-live="polite" aria-atomic="false">
              <%= t('hub.feedback.character_limit_message') %>
            </p>
          </div>
        <% end %>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h2 class="govuk-heading-m">
                  <%= t 'hub.feedback.questions.reply' %>
                </h2>
              </legend>
              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <%= f.radio_button :reply, true, {required: true, data: { msg: t('hub.feedback.errors.reply')}, class: "govuk-radios__input"}%>
                  <%= f.label :reply_true,  t('hub.feedback.questions.reply_option_yes'), class: "govuk-label govuk-radios__label"%>
                </div>
                <div class="govuk-radios__item">
                  <%= f.radio_button :reply, false, {required: true, data: { msg: t('hub.feedback.errors.reply')}, class: "govuk-radios__input"}%>
                  <%= f.label :reply_false, t('option.no'), class: "govuk-label govuk-radios__label"%>
                </div>
              </div>
            </fieldset>
          </div>

          <div class="panel panel-border-narrow reply-fields js-hidden">
            <p><%= t 'hub.feedback.request_reply' %></p>

            <%= content_tag :div, class: @form.errors.include?(:name) ? 'govuk-form-group govuk-form-group--error' : 'govuk-form-group' do %>
              <div class="form-group">
                <%= f.label :name, t('hub.feedback.questions.name'), class: 'form-label' %>
                <% if @form.errors.include?(:name) %>
                    <span class="govuk-error-message"><%= @form.errors[:name].first %></span>
                <% end %>
                <%= f.text_field :name, required: true, maxlength: @form.short_limit, class: 'form-control form-control-3-4', data: { 'msg-required': t('hub.feedback.errors.name') } %>
              </div>
            <% end %>

            <%= content_tag :div, class: @form.errors.include?(:email) ? 'govuk-form-group govuk-form-group--error' : 'govuk-form-group' do %>
              <div class="form-group">
                <%= f.label :email, class: 'form-label' do %>
                  <%= t('hub.feedback.questions.email') %>
                  <span class="form-hint"><%= t('hub.feedback.questions.email_hint') %></span>
                <% end %>
                <% if @form.errors.include?(:email)%>
                    <span class="govuk-error-message"><%= @form.errors[:email].first %></span>
                <% end %>
                <%= f.email_field :email, required: true, maxlength: @form.short_limit, class: 'form-control form-control-3-4', data: { msg: t('hub.feedback.errors.email') } %>
              </div>
            <% end %>

            <p>
              <%= t('hub.feedback.consent_message_html', href: link_to(t('hub.feedback.privacy_notice_link'), privacy_notice_path(anchor:'how-we-use-information'))) %>
            </p>
          </div>


        <%= f.hidden_field :js_disabled, value: true %>

        <div class="actions">
          <%= f.submit t('hub.feedback.send_message'), class: 'govuk-button' %>
        </div>
      </fieldset>
  <% end %>
</div>