<%= render partial: 'shared/page_title', locals: {:title_key => 'hub.feedback_sent.title'} %>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge"><%= t 'hub.feedback_sent.heading' %></h1>
    <h2 class="heading-medium"><%= t 'hub.feedback_sent.sub_heading' %></h2>

    <% if emailProvided %>
      <p><%= t 'hub.feedback_sent.message_email' %></p>
    <% else %>
      <p><%= t 'hub.feedback_sent.message_no_email' %></p>
    <% end %>

    <% if sessionValid %>
      <p><%= link_to t('hub.feedback_sent.start_again_link'), start_path %></p>
    <% else %>
      <p><%= t 'hub.feedback_sent.session_timeout' %></p>
    <% end %>
  </div>
</div>
