<%= page_title 'hub.feedback_sent.heading' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t 'hub.feedback_sent.heading' %></h1>
    <h2 class="govuk-heading-m"><%= t 'hub.feedback_sent.sub_heading' %></h2>

    <% if emailProvided %>
      <p><%= t 'hub.feedback_sent.message_email' %></p>
    <% else %>
      <p><%= t 'hub.feedback_sent.message_no_email' %></p>
    <% end %>

    <% if sessionValid %>
      <p><%= link_to t('hub.feedback_sent.start_again_link'), start_path %></p>
    <% else %>
      <p><%= t 'hub.feedback_sent.session_timeout' %></p>
    <% end %>
  </div>
</div>
