<% select_documents = 'clever_questions.hub.select_documents'%>
<%= page_title "#{select_documents}.title_photo_documents" %>
<% content_for :feedback_source, 'SELECT_DOCUMENTS_PAGE' %>

<div id="no-documents-message" class="visually-hidden" aria-live="assertive" data-no-documents-message="<%= h t("#{select_documents}.no_documents_message") %>"></div>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large"><%= t "#{select_documents}.title_photo_documents" %></h1>
    <p><%= t "#{select_documents}.sub_heading" %></p>
    <div class="panel panel-border-narrow">
      <%= t "#{select_documents}.highlight" %>
    </div>
    <% if flash[:errors] %>
        <div id="validation-error-message-no-js" class="validation-message form-group">
          <p class="error"><%= flash[:errors] %></p>
        </div>
    <% end %>

    <%= form_for @form, :as => 'select_documents_form', url: select_documents_submit_path, html: {id: 'validate-select-documents', class: 'select-documents-form', novalidate: 'novalidate', 'data-msg': t("#{select_documents}.errors.no_selection")} do |f| %>

            <h2 class="heading-medium"><%= t "#{select_documents}.valid_UK_driving_licence" %></h2>
            <%= content_tag :div, class: form_question_class do %>
              <fieldset>
                <%= f.custom_radio_button :any_driving_licence, true, t("#{select_documents}.documents_option_yes") %>
                <%= f.custom_radio_button :any_driving_licence, false, t('option.no') %>
              </fieldset>
            <% end %>
            <%= content_tag :div, id: 'driving_licence_details', class: hidden_form_question_class do %>

                <fieldset>
                  <legend><span class="form-label"><%= t "#{select_documents}.where_driving_licence_issued" %></span></legend>
                    <%= f.custom_radio_button :driving_licence, 'great_britain', t("#{select_documents}.driving_licence_details.great_britain")  %>
                    <%= f.custom_radio_button :driving_licence, 'northern_ireland', t("#{select_documents}.driving_licence_details.northern_ireland")  %>
                </fieldset>

            <% end %>

            <h2 class="heading-medium"><%= t "#{select_documents}.passport.uk_passport" %></h2>
            <%= content_tag :div, class: form_question_class do %>
              <fieldset>
                <%= f.custom_radio_button :passport, true, t("#{select_documents}.documents_option_yes") %>
                <%= f.custom_radio_button :passport, 'yes_expired', t("#{select_documents}.documents_option_yes_expired") %>
                <%= f.custom_radio_button :passport, false, t('option.no') %>
              </fieldset>
            <% end %>
            <%= content_tag :div, id: 'passport_details', 'data-msg': t("#{select_documents}.errors.invalid_date"), class: hidden_form_question_class do %>
              <fieldset>
                <legend>
                  <span class="form-label"><%= t "#{select_documents}.passport.expires.depending_when_expired" %></span>
                  <span class="form-label-bold"><%= t "#{select_documents}.passport.expires.when_expired" %></span>
                  <span class="form-hint"><%= t "#{select_documents}.passport.expires.when_expired_example" %></span>
                </legend>

                <div class="form-date expiry-details">
                 <%= f.fields_for :passport_expiry, @form.passport_expiry do |p| %>
                      <div class="form-group">
                        <%= p.label :day, t("#{select_documents}.passport.expires.day"), class: 'form-label' %>
                        <%= p.text_field :day, :value => @form.passport_expiry['day'], class: 'form-control', type: 'number', pattern:'[0-9]*', min: '1', max: '31' %>
                      </div>
                      <div class="form-group">
                        <%= p.label :month, t("#{select_documents}.passport.expires.month"), class: 'form-label'  %>
                        <%= p.text_field :month, :value => @form.passport_expiry['month'], class: 'form-control', type: 'number', pattern:'[0-9]*', min: '1', max: '12' %>
                      </div>
                      <div class="form-group form-group-year" >
                        <%= p.label :year, t("#{select_documents}.passport.expires.year"), class: 'form-label' %>
                        <%= p.text_field :year, :value => @form.passport_expiry['year'], class: 'form-control', type: 'number', pattern:'[0-9]*', min: '0', max: Date.today.year %>
                      </div>
                  <% end %>
                </div>
              </fieldset>
            <% end %>

        <div id="validation-error-message-js"></div>

        <div class="actions">
          <%= f.submit t('navigation.continue'), class: 'button', id: 'next-button' %>
          <%= link_to t("#{select_documents}.neither_documents"), select_documents_no_documents_path %>
        </div>
    <% end %>

  </div>
</div>
