<% content_for :html_lang, params[:locale] %>
<% content_for :page_title, 'Verify Frontend' %>

<% content_for :head do %>
  <!--[if gt IE 8]><!--><%= stylesheet_link_tag 'style' %><!--<![endif]-->
  <!--[if IE 8]><%= stylesheet_link_tag 'style-ie8' %><![endif]-->
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
<% end %>

<% content_for :content do %>
  <main id="content">
    <%= yield %>
  </main>
<% end %>

<%= render file: 'layouts/govuk_template' %>
