<% content_for :html_lang, params[:locale] %>
<% content_for :page_title, 'Verify Frontend' %>

<% content_for :head do %>
  <!--[if gt IE 8]><!--><%= stylesheet_link_tag 'style' %><!--<![endif]-->
  <!--[if IE 8]><%= stylesheet_link_tag 'style-ie8' %><![endif]-->
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
<% end %>

<% content_for :content do %>
  <main id="content">
    <%= render 'shared/phase_banner' %>
    <%= content_for?(:main) ? yield(:main) : yield %>
  </main>
<% end %>

<% content_for :footer_support_links do %>
  <h2 class="visuallyhidden">Support links</h2>
  <ul>
    <li><a href="https://gov.uk/help">Help</a></li>
    <li>
      <% if params[:locale] != 'cy' %>
        <%= link_to 'Cymraeg', url_for(locale: 'cy'), lang: 'cy', hreflang: 'cy' %>
      <% else %>
        <%= link_to 'English', url_for(locale: 'en'), lang: 'en', hreflang: 'en' %>
      <% end %>
    </li>
    <li>Built by the <a href="https://gds.blog.gov.uk">Government Digital Service</a></li>
  </ul>
<% end %>

<%= render file: 'layouts/govuk_template' %>
