<% content_for :main do %>
  <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
        <%= t('decommission_banner.title') %>
      </h2>
    </div>
    <div class="govuk-notification-banner__content">
      <h2 class="govuk-notification-banner__heading">
        <%= t('decommission_banner.heading') %>
      </h2>
      <%= raw t 'decommission_banner.content_html' %>
    </div>
  </div>
  <div class="content-inner slides">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <div class="slides-verify-logo hide-mobile">
          <%= image_tag 'govuk-verify.png', srcset: "#{asset_path 'govuk-verify.svg'} 1x", alt: ' ', role: 'presentation' %>
        </div>
        <div class="slides-verify-logo show-mobile">
          <%= image_tag 'govuk-verify-horizontal.png', srcset: "#{asset_path 'govuk-verify-horizontal.svg'} 1x", alt: ' ', role: 'presentation' %>
        </div>
      </div>
      <div class="govuk-grid-column-two-thirds">
        <%= yield %>
      </div>
    </div>
  </div>
<% end %>
<%= render file: 'layouts/application' %>
